header {
    background-color: #6f4e37;
}

body {
    background-color: #6f4e37;
}


#backgroundimg {
    border-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 25%;
    height: 25%;
    opacity: 1;
    float: right;
}

h1 {
    text-align: center;
    font-size: large;
    font-style: italic;

}