header {
    background-color: #6f4e37;
}

body {
    background-color: #6f4e37;
}


#backgroundimg {
    border-radius: 5%;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    width: 25%;
    height: 25%;
    opacity: 1;
    float: right;
}

h1 {
    color: gold;
    text-align: center;
    font-size: large;
    font-style: italic;

}

h2 {
    color: gold;
}

footer {
    color: gold;
}

#logo {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}